<nav class="navbar">
  <div class="logo">k-watch</div>
  <div class="hamburger-menu">&#9776;</div>
  <ul class="nav-links">
    <li><a href="/">home</a></li>
    <li><a href="/explore">explore</a></li>
    <li><a href="/watchlist">watchlist</a></li>
    <li><a href="/details">details</a></li>
  </ul>
  <button class="nav-btn">Log In</button>
</nav>