<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="media.css">

  <title>Explore</title>
</head>
<body>
  <header>
    <!-- pc-navbar -->
    <%- include ('./partials/nav.ejs') %>
  </header>
  <p class="title">
    Ready to add some kdramas to your list?
  </p>
  <div class="search-container">
   
    <form action="#">
      <input type="text" name="search-bar" id="search-bar" placeholder="Search for Kdramas...">
      <button type="submit">Search</button>
    </form>
  </div>
  <section class="kdrama-cards">
    <div class="kdrama-card-individual">
      <img src="assets/images/my-name.jpg" alt="my name kdrama">
    <p class="k-title">My Name</p>
    </div>
    <div class="kdrama-card-individual">
      <img src="assets/images/whats-wrong-sec.jpg" alt="whats wrong with secretary kim">
    <p class="k-title">What's wrong with Secretary Kim?</p>
    </div>
    <div class="kdrama-card-individual">
      <img src="assets/images/love-to-hate-you.jpg" alt="love to hate you kdrama">
    <p class="k-title">Love to Hate You</p>
    </div>
  </section>
  <script src="script.js"></script>
</body>
</html>