<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="media.css">
  <title>K-watch</title>
</head>
<body>
  <header>
    <!-- pc-navbar -->
 <%- include ('./partials/nav.ejs') %>
  </header>
  <p class="title">
    Welcome to K-watch,  the best way to keep track <br> and add kdramas to your watchlist! <br>
    Ready to start?
  </p>
  <section class="kdrama-cards">
    <div class="kdrama-card-individual">
      <img src="assets/images/business-proposal.jpg" alt="business-proposal">
    <p class="k-title">Business Proposal</p>
    </div>
    <div class="kdrama-card-individual">
      <img src="assets/images/my-demon.jpg" alt="my-demon">
    <p class="k-title">My Demon</p>
    </div>
    <div class="kdrama-card-individual">
      <img src="assets/images/crashlanding on you.jpg" alt="crashlanding">
    <p class="k-title">Crash Landing on You</p>
    </div>
  </section>
  <div class="btn-container">
    <button class="sign-up">Sign up</button>
  </div>
  <script src="script.js"></script>
</body>
</html>